.fakebook-image{
  width: 75%;
}

.fakebook-description{
  width:25%;
}


@media only screen and (max-width: 1150px){
  .fakebook-container{
    flex-direction: column;
  }
  .fakebook-image{
    width:100%;
  }
  .tags{
    justify-content: center;
  }
  .fakebook-description{
    text-align: center;
    width:80%;
  } 
}

.fakebook-image>img{
  width: 550px;
}