.space-shooter-image{
  width: 50%;
}

.space-shooter-description{
  width:50%;
}


@media only screen and (max-width: 1150px){
  .space-shooter-container{
    flex-direction: column;
  }
  .space-shooter-image{
    width:100%;
  }
  .tags{
    justify-content: center;
  }
  .space-shooter-description{
    text-align: center;
    width:80%;
  } 
}

.space-shooter-image>img{
  width: 430px;
}