.todo-app-image{
  width: 50%;
}

.todo-app-description{
  width:50%;
}


@media only screen and (max-width: 1350px){
  .todo-app-container{
    flex-direction: column;
  }
  .todo-app-image{
    width:100%;
  }
  .tags{
    justify-content: center;
  }
  .todo-app-description{
    text-align: center;
    width:80%;
  } 
  /* .todo-app-image>img{    
    width: 500px;
  } */
}
/* @media only screen and (max-width: 850px){
  .todo-app-image>img{    
    height: 300px;
  }
} */


.todo-app-image>img{
  width:500px; 
;}