.weather-app-image{
  width: 52%;
  display: flex;  
  align-items: center;
}

.weather-app-description{
  width:48%;
}
.weather-app-container{
  width: 100%;
}

@media only screen and (max-width: 1320px){
  .weather-app-container{
    flex-direction: column;    
  }
  .weather-app-image{
    width: 581px;
  }
  .tags{
    justify-content: center;
  }
  .weather-app-description{
    text-align: center;
    width:80%;
  } 
}

.weather-app-image>img{
  width: 581px;
  height: 300px;
}

@media only screen and (max-width: 740px){
  .weather-app-image>img{
    width: 581px;
    height: 300px;
  }
}