.Home{
  height: 100vh;
  padding-top: 7vh;
}

@media only screen and (max-width: 740px) and (min-width: 400px){
  .Home{
    padding-top: 10vh;
  }  
}

.home-content{
  margin: 300px 100px 0 250px;
  height: 300px;  
  border: 1px solid black;
}

@media only screen and (max-width: 740px){
  .home-content{
    margin: 30px 10px 0 25px;
    height: 300px;  /* Este se borra luego de un tiempo */

    border: 1px solid black;
  }
}

.title {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  font-weight: bold;
}