.Projects{
  /* background-color: darkorchid; */  
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (max-width: 740px){
  .Projects{
    margin: 0 10px;
  }  
} 

.container{
  display: flex;
  margin: 200px 0;  
  align-items: center;
  flex-direction: row;
}

.reverse{
  flex-direction: row-reverse;
}

.image-container{
  background-color: #E6E6E2;  
  justify-content: center;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;  
  height:600px;
}

.description{
  padding: 20px;  
}

.title{
  color: #091E42;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;  
  display: block;
}

.text{
  margin-top: 30px;
  color: #344563;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.tags{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
@media only screen and (max-width: 740px){
  .tags{
    justify-content: center;
  }
}

.tags>div{
  margin: 0 8px;  
  padding: 3px 12px;
  background-color: #EBEBFF;
  border-radius: 10px;
}

.link{
  margin-top: 20px;
  color:#396DF2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396DF2;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
@media only screen and (max-width: 740px){
  .link{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px
  }
}

